body {
  margin: 0;

  overflow: hidden;

  text-align: center;
}

main {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

main h1 {
  background-image: linear-gradient(
    to left,
    yellow,
    violet,
    indigo,
    blue,
    green,
    orange,
    red
  );

  -webkit-background-clip: text;
  color: transparent;

  font-size: 850%;
}

main footer {
  position: fixed;
  bottom: 2%;
  width: 100%;
}

main textarea {
  margin: 5%;
  width: 80%;
  margin-left: 10%;
}

.input {
  display: block;
}

.sencondary_btn {
}

#answer {
}
