@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Poppins;
  margin: 0;
  text-align: center;

  font-size: 14pt;
  background: url("./background.jpg");
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 2%;

  background: #a9a9a9;
}

.container header {
  height: 15vh;
  font-size: 3em;
}

.container header h1 {
  background-image: linear-gradient(
    to left,
    yellow,
    violet,
    indigo,
    blue,
    green,
    orange,
    red
  );

  -webkit-background-clip: text;
  color: transparent;
}

.container main {
  height: 68vh;

  margin: 10%;
}

.container main .input {
  margin: 2%;
  display: block;
}

.container footer {
  height: 8vh;
  margin-bottom: 4%;
}
